.show-hide {
  max-height: 0;
  overflow: hidden;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.show-hide.shown {
  max-height: 1000px;
  transition: all 0.3s ease;
}
